body {
    font: 100% "Lucida Sans", Verdana;
    background-color: white;
    line-height: 26px;
    margin: 20px;
    
 }

#top { 
    background-color: #04AA6D;
    padding: 15px;
    color: white;
    /* font-size: 32px; */
    
     
}
#top h1, #top p, ul { 
    margin: 0;
    padding: 0;


}
li { 
    background-color: #f1f1f1;
    border: #d4d4d4 1px solid; 
    color: black;
    cursor: pointer;
    padding: 2px;
    list-style-type: none;
    width: 180px;
    font: 100% verdana;
    margin: 4px;
    border-radius: 4px;
    

}
li:hover { 
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
}
li:first-child {
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
 }
ul {
    width: 200px;
    float: left;
    margin: 0;
    padding: 0;
    
}
#main { 
    margin: 0 210px;
    padding: 10px;
}
#sidebar { 
    background-color: #32a4e7;
    color: white;
    padding: 10px;
    font: 100% "Lucida Sans", Verdana;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 100%;
    margin: 5px;
}
.wrapper {
    position: relative;
 }
#bottom { 
    

}
#top, li, #sidebar, #bottom { }
a{ 
   color: black; 
   text-decoration: underline;
}
a:hover{
    text-decoration: none;
 }
#bottom p{ 
    font: 100% "Lucida Sans", Verdana;
    font-size: 70%;
    margin-top: 30px;
    border: 1px solid #d4d4d4;
    padding: 15px;
    background-color: #f1f1f1; 
}

