body{ 
    background-color: #d14836;
    font-family: Arial;
    
}
#top{ 
    color: white;
    font-size: 30px;
    padding: 15px;
}
ul {
    margin: 10px;
    float: right;
   
 }
#top h1{
    font-weight: bold;
 }
#menubar{
    font: Verdana;
 }
#main{
    background-color: white;
    font: 80% Verdana;
    padding: 10px;
 }
#main h1, #main h2, #sidebar{ 
    background-color: #d14836;
    line-height: 26px;
    
}

#sidebar{ 
    background-color: #F6DAD7;
    padding: 15px;
   
}
#bottom{
    font-size: 70%;
 }
#bottom p{ 
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 20px;
}
li{ 
    background-color: #d14836;
    border: #d14836 solid 1px;
    cursor: pointer;
    color: white;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 155px;
    border-radius: 40px;

}
li:hover{ 
    background-color: white;
    color: #d14836;
}
li:nth-child(2){
    background-color: white;
    color: #d14836;
    font-weight: bold;
 }
a{ 
    background-color: #d14836;
    text-decoration: none;
}
a:hover{ 
    text-decoration: underline;
}

